<form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
        <input 
        type="text"
        name="inputTodo"
        placeholder="Enter todo..."
        class="form-control"
        [(ngModel)]="contentTodo"
        (focus)="onFocus()"
        (focusout)="onFocusOut()"
        formControlName="taskInput"
        />
        <input 
        *ngIf="!isUpdateMode"
        type="submit"
        value="Add Todo"
        class="btn btn-primary"
        />
        <input 
        *ngIf="isUpdateMode"
        type="submit"
        value="Edit Todo"
        class="btn btn-primary"
        />
    </div>
    <div *ngIf="(taskInput?.errors?.required && isEditMode) || (taskInput?.errors?.required && isSubmitted)" class="alert alert-danger">
        Task is required
    </div>
    <div *ngIf="taskInput?.errors?.minlength" class="alert alert-danger">
        Task is less than {{ taskInput?.errors?.minlength?.requiredLength}}
    </div>
</form>